.bg-dark {
    background-color: #F7F7F7 !important;
    
}
.navbar-brand{
    color: #ff6e6c !important;
}
.navbar-brand:hover{
    color: #94a1b2  !important;
}
.nav-link {
    margin-left: 2em !important;
    color: #ff6e6c !important;
}
.nav-link:hover {
    color: #94a1b2 !important;
}
body {
    background-color: #FFFFFF;
  
}

.card {
    background-color: #FFFFFF !important;
    color: #1f1235 !important;
}
.card-header {
    background-color: #ff6e6c;
    color: #F7F7F7;
}

.btn-primary {
    background-color: #ff6e6c;
}
.btn-primary:hover {
    background-color: #67568c;
}
.cards {
    margin-top: 1.4em;
}

.cards .card-body {
    cursor: pointer;
    border: solid;
    border-radius: 20px;
    background-color: #F7F7F7;
    
}
.cards .card-body:hover {
    background-color: #ff6e6c;
    color: #F7F7F7;
    
}

.text-muted {
    color: #ff6e6c  !important;
}

.container-signin {
    margin-top: 5em;
}
ul {
    list-style-type: none !important;
}